version: '3.8'

services:
    # Frontend web
    web:
        image: jitsi/web:stable-9364
        restart: ${RESTART_POLICY:-unless-stopped}
        ports:
            - '${HTTP_PORT:-8000}:80'
            - '${HTTPS_PORT:-8443}:443'
        volumes:
            - ${CONFIG}/web:/config:Z
            - ${CONFIG}/web/crontabs:/var/spool/cron/crontabs:Z
            - ${CONFIG}/transcripts:/usr/share/jitsi-meet/transcripts:Z
        environment:
            - ENABLE_AUTH=${ENABLE_AUTH:-0}
            - ENABLE_GUESTS=${ENABLE_GUESTS:-1}
            - ENABLE_LETSENCRYPT=${ENABLE_LETSENCRYPT:-0}
            - ENABLE_HTTP_REDIRECT=${ENABLE_HTTP_REDIRECT:-0}
            - ENABLE_TRANSCRIPTIONS=${ENABLE_TRANSCRIPTIONS:-0}
            - DISABLE_HTTPS=${DISABLE_HTTPS:-0}
            - JICOFO_AUTH_USER=focus
            - LETSENCRYPT_DOMAIN=${LETSENCRYPT_DOMAIN}
            - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
            - PUBLIC_URL=${PUBLIC_URL:-https://localhost:8443}
            - XMPP_DOMAIN=meet.jitsi
            - XMPP_AUTH_DOMAIN=auth.meet.jitsi
            - XMPP_BOSH_URL_BASE=http://xmpp.meet.jitsi:5280
            - XMPP_GUEST_DOMAIN=guest.meet.jitsi
            - XMPP_MUC_DOMAIN=muc.meet.jitsi
            - XMPP_RECORDER_DOMAIN=recorder.meet.jitsi
            - TZ=${TZ:-America/Argentina/Buenos_Aires}
            - JIBRI_BREWERY_MUC=jibribrewery
            - JIBRI_PENDING_TIMEOUT=90
            - JIBRI_XMPP_USER=jibri
            - JIBRI_XMPP_PASSWORD=${JIBRI_XMPP_PASSWORD}
            - JIBRI_RECORDER_USER=recorder
            - JIBRI_RECORDER_PASSWORD=${JIBRI_RECORDER_PASSWORD}
            - ENABLE_RECORDING=${ENABLE_RECORDING:-0}
        networks:
            meet.jitsi:
                aliases:
                    - meet.jitsi

    # XMPP server
    prosody:
        image: jitsi/prosody:stable-9364
        restart: ${RESTART_POLICY:-unless-stopped}
        expose:
            - '5222'
            - '5347'
            - '5280'
        volumes:
            - ${CONFIG}/prosody/config:/config:Z
            - ${CONFIG}/prosody/prosody-plugins-custom:/prosody-plugins-custom:Z
        environment:
            - AUTH_TYPE=${AUTH_TYPE:-internal}
            - ENABLE_AUTH=${ENABLE_AUTH:-0}
            - ENABLE_GUESTS=${ENABLE_GUESTS:-1}
            - ENABLE_LOBBY=${ENABLE_LOBBY:-0}
            - ENABLE_XMPP_WEBSOCKET=${ENABLE_XMPP_WEBSOCKET:-1}
            - GLOBAL_MODULES=${GLOBAL_MODULES}
            - GLOBAL_CONFIG=${GLOBAL_CONFIG}
            - LDAP_URL=${LDAP_URL}
            - LDAP_BASE=${LDAP_BASE}
            - LDAP_BINDDN=${LDAP_BINDDN}
            - LDAP_BINDPW=${LDAP_BINDPW}
            - LDAP_FILTER=${LDAP_FILTER}
            - LDAP_AUTH_METHOD=${LDAP_AUTH_METHOD}
            - LDAP_VERSION=${LDAP_VERSION}
            - LDAP_USE_TLS=${LDAP_USE_TLS}
            - LDAP_TLS_CIPHERS=${LDAP_TLS_CIPHERS}
            - LDAP_TLS_CHECK_PEER=${LDAP_TLS_CHECK_PEER}
            - LDAP_TLS_CACERT_FILE=${LDAP_TLS_CACERT_FILE}
            - LDAP_TLS_CACERT_DIR=${LDAP_TLS_CACERT_DIR}
            - LDAP_START_TLS=${LDAP_START_TLS}
            - XMPP_DOMAIN=meet.jitsi
            - XMPP_AUTH_DOMAIN=auth.meet.jitsi
            - XMPP_GUEST_DOMAIN=guest.meet.jitsi
            - XMPP_MUC_DOMAIN=muc.meet.jitsi
            - XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi
            - XMPP_MODULES=${XMPP_MODULES}
            - XMPP_MUC_MODULES=${XMPP_MUC_MODULES}
            - XMPP_INTERNAL_MUC_MODULES=${XMPP_INTERNAL_MUC_MODULES}
            - XMPP_RECORDER_DOMAIN=recorder.meet.jitsi
            - JICOFO_COMPONENT_SECRET=${JICOFO_COMPONENT_SECRET}
            - JICOFO_AUTH_USER=focus
            - JICOFO_AUTH_PASSWORD=${JICOFO_AUTH_PASSWORD}
            - JVB_AUTH_USER=jvb
            - JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD}
            - JIGASI_XMPP_USER=jigasi
            - JIGASI_XMPP_PASSWORD=${JIGASI_XMPP_PASSWORD}
            - JIBRI_XMPP_USER=jibri
            - JIBRI_XMPP_PASSWORD=${JIBRI_XMPP_PASSWORD}
            - JIBRI_RECORDER_USER=recorder
            - JIBRI_RECORDER_PASSWORD=${JIBRI_RECORDER_PASSWORD}
            - JWT_APP_ID=${JWT_APP_ID}
            - JWT_APP_SECRET=${JWT_APP_SECRET}
            - JWT_ACCEPTED_ISSUERS=${JWT_ACCEPTED_ISSUERS}
            - JWT_ACCEPTED_AUDIENCES=${JWT_ACCEPTED_AUDIENCES}
            - JWT_ASAP_KEYSERVER=${JWT_ASAP_KEYSERVER}
            - JWT_ALLOW_EMPTY=${JWT_ALLOW_EMPTY}
            - JWT_AUTH_TYPE=${JWT_AUTH_TYPE}
            - JWT_TOKEN_AUTH_MODULE=${JWT_TOKEN_AUTH_MODULE}
            - LOG_LEVEL=${LOG_LEVEL}
            - PUBLIC_URL=${PUBLIC_URL:-https://localhost:8443}
            - TZ=${TZ:-America/Argentina/Buenos_Aires}
        networks:
            meet.jitsi:
                aliases:
                    - xmpp.meet.jitsi

    # Focus component
    jicofo:
        image: jitsi/jicofo:stable-9364
        restart: ${RESTART_POLICY:-unless-stopped}
        volumes:
            - ${CONFIG}/jicofo:/config:Z
        environment:
            - AUTH_TYPE=${AUTH_TYPE:-internal}
            - ENABLE_AUTH=${ENABLE_AUTH:-0}
            - ENABLE_AUTO_OWNER=${ENABLE_AUTO_OWNER:-1}
            - ENABLE_CODEC_VP8=${ENABLE_CODEC_VP8:-1}
            - ENABLE_CODEC_VP9=${ENABLE_CODEC_VP9:-1}
            - ENABLE_CODEC_H264=${ENABLE_CODEC_H264:-1}
            - ENABLE_OCTO=${ENABLE_OCTO:-0}
            - ENABLE_RECORDING=${ENABLE_RECORDING:-0}
            - ENABLE_SCTP=${ENABLE_SCTP:-1}
            - ENABLE_AUTO_LOGIN=${ENABLE_AUTO_LOGIN:-1}
            - JICOFO_COMPONENT_SECRET=${JICOFO_COMPONENT_SECRET}
            - JICOFO_AUTH_USER=focus
            - JICOFO_AUTH_PASSWORD=${JICOFO_AUTH_PASSWORD}
            - JICOFO_ENABLE_BRIDGE_HEALTH_CHECKS=${JICOFO_ENABLE_BRIDGE_HEALTH_CHECKS}
            - JICOFO_CONF_INITIAL_PARTICIPANT_WAIT_TIMEOUT=${JICOFO_CONF_INITIAL_PARTICIPANT_WAIT_TIMEOUT}
            - JICOFO_CONF_SINGLE_PARTICIPANT_TIMEOUT=${JICOFO_CONF_SINGLE_PARTICIPANT_TIMEOUT}
            - JICOFO_ENABLE_HEALTH_CHECKS=${JICOFO_ENABLE_HEALTH_CHECKS}
            - JICOFO_SHORT_ID=${JICOFO_SHORT_ID}
            - JIBRI_BREWERY_MUC=jibribrewery
            - JIBRI_PENDING_TIMEOUT=90
            - JIGASI_BREWERY_MUC=jigasibrewery
            - JIGASI_SIP_URI=${JIGASI_SIP_URI}
            - JVB_BREWERY_MUC=jvbbrewery
            - MAX_BRIDGE_PARTICIPANTS=${MAX_BRIDGE_PARTICIPANTS}
            - OCTO_BRIDGE_SELECTION_STRATEGY=${OCTO_BRIDGE_SELECTION_STRATEGY}
            - SENTRY_DSN=${JICOFO_SENTRY_DSN:-0}
            - SENTRY_ENVIRONMENT=${SENTRY_ENVIRONMENT}
            - SENTRY_RELEASE=${SENTRY_RELEASE}
            - TZ=${TZ:-America/Argentina/Buenos_Aires}
            - XMPP_DOMAIN=meet.jitsi
            - XMPP_AUTH_DOMAIN=auth.meet.jitsi
            - XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi
            - XMPP_MUC_DOMAIN=muc.meet.jitsi
            - XMPP_RECORDER_DOMAIN=recorder.meet.jitsi
            - XMPP_SERVER=xmpp.meet.jitsi
        depends_on:
            - prosody
        networks:
            meet.jitsi:

    # Video bridge
    jvb:
        image: jitsi/jvb:stable-9364
        restart: ${RESTART_POLICY:-unless-stopped}
        ports:
            - '${JVB_PORT:-10000}:10000/udp'
            - '${JVB_TCP_MAPPED_PORT:-4443}:4443'
        volumes:
            - ${CONFIG}/jvb:/config:Z
        environment:
            - DOCKER_HOST_ADDRESS=${DOCKER_HOST_ADDRESS}
            - ENABLE_COLIBRI_WEBSOCKET=${ENABLE_COLIBRI_WEBSOCKET:-1}
            - ENABLE_OCTO=${ENABLE_OCTO:-0}
            - JVB_AUTH_USER=jvb
            - JVB_AUTH_PASSWORD=${JVB_AUTH_PASSWORD}
            - JVB_BREWERY_MUC=jvbbrewery
            - JVB_PORT=${JVB_PORT:-10000}
            - JVB_TCP_HARVESTER_DISABLED=${JVB_TCP_HARVESTER_DISABLED}
            - JVB_TCP_PORT=${JVB_TCP_PORT:-4443}
            - JVB_TCP_MAPPED_PORT=${JVB_TCP_MAPPED_PORT:-4443}
            - JVB_STUN_SERVERS=meet-jit-si-turnrelay.jitsi.net:443
            - JVB_ENABLE_APIS=${JVB_ENABLE_APIS}
            - SENTRY_DSN=${JVB_SENTRY_DSN:-0}
            - SENTRY_ENVIRONMENT=${SENTRY_ENVIRONMENT}
            - SENTRY_RELEASE=${SENTRY_RELEASE}
            - COLIBRI_REST_ENABLED=${COLIBRI_REST_ENABLED}
            - SHUTDOWN_REST_ENABLED=${SHUTDOWN_REST_ENABLED}
            - TZ=${TZ:-America/Argentina/Buenos_Aires}
            - XMPP_AUTH_DOMAIN=auth.meet.jitsi
            - XMPP_INTERNAL_MUC_DOMAIN=internal-muc.meet.jitsi
            - XMPP_SERVER=xmpp.meet.jitsi
        depends_on:
            - prosody
        networks:
            meet.jitsi:

networks:
    meet.jitsi:
        driver: bridge
