<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

<head>
    <title>Aurea</title>
</head>

<body>

    <div layout:fragment="content">
        <!-- =============================================================== -->
        <!-- AQUI VA TODO EL CONTENIDO ESPECÍFICO DE TU PÁGINA PÚBLICA -->
        <!-- =============================================================== -->
        
        <h1 style="color: black; ">Bienvenido a la Página Pública</h1>
        <p>Este es el contenido que se mostrará en el cuerpo de la página,
            utilizando el encabezado y pie de página de base.html.</p>
        <p>Este es el contenido que se mostrará en el cuerpo de la página,
            utilizando el encabezado y pie de página de base.html.</p>
        <p>Este es el contenido que se mostrará en el cuerpo de la página,
            utilizando el encabezado y pie de página de base.html.</p>
        <p>Este es el contenido que se mostrará en el cuerpo de la página,
            utilizando el encabezado y pie de página de base.html.</p>
        <p>Este es el contenido que se mostrará en el cuerpo de la página,
            utilizando el encabezado y pie de página de base.html.</p>
        <p>Este es el contenido que se mostrará en el cuerpo de la página,
            utilizando el encabezado y pie de página de base.html.</p>
        <p>Este es el contenido que se mostrará en el cuerpo de la página,
            utilizando el encabezado y pie de página de base.html.</p>
        <p>Este es el contenido que se mostrará en el cuerpo de la página,
            utilizando el encabezado y pie de página de base.html.</p>
        <p>Este es el contenido que se mostrará en el cuerpo de la página,
            utilizando el encabezado y pie de página de base.html.</p>
        <p>Este es el contenido que se mostrará en el cuerpo de la página,
            utilizando el encabezado y pie de página de base.html.</p>
        
        <!-- Puedes agregar aquí tus secciones, tarjetas, etc. -->

    </div>

</body>
</html>